<!-- CSS Reset Rule -->
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,h2,h3,p {
	font-family: Poppins, sans-serif;
}

/*NAV*/
nav {
	background-color: #F2EFE7 !important; 
}

/*LANDING*/
#about-img {
	width: 300px;
}

/*TOOLS*/
#toolsEJS {
	width: 90px;
}
#toolsNode {
	width: 75px;
}
#toolsPostman {
	width: 75px;
}
#toolsSublime {
	width: 75px;
}

/*FOOTER*/

#imgLinkedin  {
	width: 50px;
}

#imgFacebook {
	width: 50px;
}

#imgGithub {
	width: 50px;
}

